# используем язык java. Travis CI поддерживает другие языки тоже.
language: java
jdk:
  - openjdk14
services:
  - postgresql

before_install:
  - psql -c 'create database if not exists postgres;' -U postgres

# используем режим обычного пользователя для сборки проекта.
sudo: false

# после выполнения сборки запустить скрипт, который будет собирать статистику по JaCoCo
# Здесь используется сторонний сервис https://codecov.io/
after_success:
  #- bash <(curl -s https://codecov.io/bash)
# отпрвлять уведомление на почту tanuskanikolaeva@mail.ru если сборка упала


notifications:
  email:
    recipients:
      -tanuskanikolaeva@mail.ru
    on_success: never # default: change
    on_failure: always # default: always
env:
  global:
  #  - CODECOV_TOKEN="f8bde05a-c754-4070-9dd9-9164946a6ae7"